{% extends "base_generic.html" %}

{% block content %}
<div style="margin-left: 5%;width:800px;height:auto;border: 1px solid hotpink;border-radius: 1px ;position: sticky;background-color: white">
<h1 style="text-align: center;font-family:'Curlz MT';color: hotpink">Welcome </h1>

<p style="text-align: center;color: hotpink">Welcome to the candy land where gummy bears are living in muffin houses , where tries have candy fruits with a lot of flavours,where
   the rain isn't just blue and snowflakes are more than you can think ! </p>
<div style="margin-left:5%;align-content: center;display: flex;flex-wrap: wrap;">

  {% for category in categorie %}

      <a href="{{ category.get_absolute_url }}">
          <p style = "margin-left:30%"> {{ category }}</p>
          {% load static %}

         <img src ="{% static 'images/' %}{{category}}.jpg" alt="Category Picture" style="width:220px;height:220px;">
          {% empty %}
      </a>

  {% endfor %}

</div>
 <div style="visibility: hidden">

<h2>Dynamic content</h2>

<p>The library has the following record counts:</p>
<ul>
<li><strong>Books:</strong> {{ num_books }}</li>
<li><strong>Copies:</strong> {{ num_instances }}</li>
<li><strong>Copies available:</strong> {{ num_instances_available }}</li>
<li><strong>Authors:</strong> {{ num_authors }}</li>
</ul>


You have visited this page {{ num_visits }} times.
</div>
</div>
{% endblock %}